@{
    ViewBag.Title = "Transcom Beverage Limited";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Welcome!!</h1>
    <p class="lead">~Hello User: "@User.Identity.Name" , Successfully logging to Online Primary Sales Solution (MyPepsi)~</p>
    @*<h3 class="right"> Hot Line: 982220,9861932</h3>*@
    <h2>Transcom Beverage Limited</h2>
    <p>Transcom Beverage Ltd (TBL) is the exclusive PepsiCo Franchisee for Bangladesh. TBL owns and operates modern plants in Dhaka and Chittagong for bottling the renowned soft drink brands such as, Pepsi, 7UP, Mirinda, Slice, Mountain Dew, Pepsi Diet and 7UP Light. The company is emerging with the motto to deliver sustained growth in Bangladesh and move towards dominant Beverage Company, delighting & nourishing every Bangladeshi, by best meeting their everyday beverages needs & stakeholders by delivering performance with purpose, through talented people. 2009 has been an amazing year for TBL, winning several spectacular awards as PepsiCo's exclusive bottling partner in Bangladesh. For its' extraordinary and outstanding venture through excellence TBL has been rewarded with several prestigious national and international recognitions.</p>
    @*<p class="lead"> Online Sales Solution (MyPepsi) </p>*@
    @*<p class="lead">Hello Mr. "@User.Identity.Name" , Welcome to Online Sales Solution (MyPepsi) ... </p>*@
    @*<h3 class="right"> Hot Line: 982220,9861932</h3>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@